.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 540px;
  width: 800px;
  border-radius: 15px;
  background: #232b39;
  box-shadow: 1px 1px 1px 1px hsla(218, 24%, 24%, 0.89);
  position: relative;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-header {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 50px; */
}

.login-icon {
  width: 150px;
  height: 50px;
  border: 2px solid #c471ed;
  background-color: #c471ed;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}

.login-title h2 {
  font-size: 35px;
  background: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-form {
  /* height: 650px;
  width: 700px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #12c2e9; */
}

.login input:first-child {
  margin-bottom: 30px;
}

.login input {
  padding-left: 10px;
  font-size: 17px;
  color: #a4a7b1;
  width: 320px;
  height: 45px;
  border: 0px solid #12c2e9;
  border-radius: 5px;
  background: #13161f;
  box-shadow: 1px 1px 1px 1px hsla(218, 24%, 24%, 0.89);
}

.login input::placeholder {
  color: #a4a7b1;
  margin-left: 10px;
}

.login-btn button {
  cursor: pointer;
  font-size: 21px;
  color: #8090c4;
  width: 330px;
  height: 35px;
  /* margin-right: -18px; */
  border: 0px solid #12c2e9;
  border-radius: 5px;
  background: #13161f;
  box-shadow: 1px 1px 1px 1px hsla(218, 24%, 24%, 0.89);
}

.forget-password {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 430px;
}

.forget-password h1 {
  font-size: 14px;
  color: #a4a7b1;
}

.errors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: #f64f59 0px 0px 10px;
  width: 420px;
  padding: 15px;
}
.error h3 {
  color: #f64f59;
}

.close {
  font-size: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #a4a7b1;
}
